@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Mano Experta</h1>
    <p>Módulo de Gestión y Administración</p>
</div>
